<!DOCTYPE html>
<html>
  <head>
    <title>My Angular App!</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-app="flapperNews" ng-controller="MainCtrl as mainCtrl">
    <div ng-repeat="post in mainCtrl.posts | orderBy: '-upvotes'">
      <span ng-click="mainCtrl.incrementUpvotes(post)">^</span>
      {{ post.title }} - Upvotes: {{ post.upvotes }}
    </div>

    <form class="" ng-submit="mainCtrl.addPost()">
      <input type="text" name="postTitle" ng-model="mainCtrl.title">
      <button type="submit" name="submit">Submit Post</button>
    </form>

  </body>
</html>
